footer {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.219);
  margin: 50px auto;
  padding-top: 20px;
}

#footer-icons {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#middle-footer-paragraph p {
  font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  footer {
    position: relative;
    margin: 0 auto;
  }
  footer div:first-child {
    width: 100px;
  }
  #logo-wrapper img {
    width: 100px;
  }
  #middle-footer-paragraph {
    width: 100%;
    position: absolute;
    bottom: -20px;
    left: 0px;
  }
  #middle-footer-paragraph p {
    font-size: 12px;
    text-align: center;
  }
  #footer-icons {
    padding: 30px 0px;
  }
}
