#desktop {
  display: block;
}
#mobile {
  display: none;
}
#desktop {
  margin-top: 140px;
  padding: 0px 40px;
}
div#whatsappicon {
  width: 50px;
  height: 50px;

  position: fixed;
  right: 80px;
  bottom: 80px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  cursor: pointer;

  z-index: 1;
}

#main-header {
  text-align: center;
}
#main-header p {
  width: 50%;
  margin: 0px auto 40px auto;
}

.presentation-person {
  height: 65vh;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 50px;
  padding: 70px;
}
.presentation-person div {
  width: 30%;
}
.left {
  /* height: 100%; */
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.right img {
  border-radius: 50%;
  width: 70%;
}

h1 {
  font-family: Arapey;
  font-size: calc(3vh + 3vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
}

h3 {
  font-family: Arapey;
  font-size: calc(1vh + 1vw);
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 105% */
  letter-spacing: 2px;
}

p {
  color: #4a4a4a;
  font-family: Arapey;
  font-size: calc(0.6vh + 0.6vw);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
}

@media (max-width: 768px) {
  .typo-h1 {
    font-family: Arapey;
    font-size: calc(3vh + 2vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.6px;
  }

  .typo-h3 {
    font-family: Arapey;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .typo-p {
    color: #4a4a4a;
    font-family: Arapey;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: center;
  }

  #desktop {
    display: none;
  }
  #mobile {
    display: block;
  }
  #mobile {
    margin-top: 70px;
  }

  .m-presentation-person {
    margin: 15px 15px;
    padding: 10px 0px;
  }
  .top-presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-presentation div {
    width: 50%;
  }
  .top-presentation div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top-presentation div:first-child .typo-h1 {
    margin-bottom: 20px;
  }
  .bottom-presentation {
    margin: 10px 0px;
  }
  .image-wrapper {
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .image-wrapper img {
    border-radius: 50%;
    width: 30% !important;
  }
}
